body {
  font-family: "helvetica neue";
  height: 100vh;
  width: 100vw;
}

ul {
  border: 2px solid black;
  margin: 5vw;
  width: 90vw;
  list-style: none;
}

li.l, li.s, li.mv, li.mh {
  border: 1px solid red;
  display: inline;
  float: left;
  clear: none;
  box-sizing: border-box;
}

li.s {
  min-width: 30vw;
  min-height: 30vw;
}

li.mh {
  min-width: 30vw;
  min-height: 60vw;
}

li.mv {
  min-width: 60vw;
  min-height: 30vw;
}

li.l {
  min-width: 60vw;
  min-height: 60vw;
}

