body {
  font-family: "Helvetica Neue";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #BDBDBD;
  color: white;
}

main {
  margin: 4vw;
}

h1 {
  font-size: 5em;
  font-weight: 600;
  letter-spacing: -0.04em;
}
