body {
  margin: 25px;
}

section {

}

div {
  display: inline-block;
  vertical-align: top;
  float: left;

  margin: 5px;
  border: 1px solid black;
  box-sizing: border-box;

  width: 200px;
  height: 200px;
}